<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2"
        data-bs-toggle="modal" data-bs-target="#exampleModal"
(click)="addClick()" data-backdrop="static" data-keyboard="false">
  Add Workstation
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="closeClick()"></button>
      </div>
      <div class="modal-body">
        <app-add-edit-workstation [workstation]="workstation" *ngIf="ActivateAddEditWorkstationComp"></app-add-edit-workstation>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>WorkstationID</th>
      <th>WorkstationX</th>
      <th>WorkstationY</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of WorkstationList">
      <td>{{dataItem.WorkstationID}}</td>
      <td>{{dataItem.WorkstationX}}</td>
      <td>{{dataItem.WorkstationY}}</td>
      <td>
        <button type="button" class="btn btn-light mr-1">Edit</button>
        <button type="button" class="btn btn-light mr-1">Delete</button>
      </td>
    </tr>
  </tbody>

</table>
